{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #chats{
        width: 200px; /* Set your preferred width */
        height: 200px; /* Set your preferred height */
        overflow: auto; /* Add scrollbar when necessary */
        border: 1px solid #ccc; /* Optional: Add border for visibility */
    }
</style>

<body>
    <h1>Hello add your name here</h1>
    <label for="nickname"></label>
    <input type="hidden" id="username" value="{{user.username}}">

    <input type="text" id="nickname" onchange="namechange()">

    <div id="chats">
        {% for chat in chats %}
        <div>
            {{ chat }}
        </div>
        {% endfor %}
    </div>
    <input id="message" type="text">
    <button id="sendMessage">send</button>
    <!-- <div id="messeges">
        <div >{{request.user.username }}</div>
    </div>
    <h1 id="red">this is a real chat system</h1>
    <input id="chatinput" type="text"> -->
    <script src="{% static 'chat/chat.js' %}"></script>
</body>

</html>