li a {
    color: green;
}

body {
    /* background: white url("images/pexels-simon-berger-1323550.jpg")no-repeat ; */
}

th, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}